<!--banner start here-->
<div class="banner-two">
</div>
<!--banner end here-->
<!--start-about-->
<div class="histort">
	<div class="container">
		<div class="history-main">
			<h3>我们的历史</h3>
			<p>俱乐部是由YQY Service的总裁杨先生在2015年5月创办的。 创立不久，就受到了广大有机种植爱好者的支持和帮助。经过俱乐部的成员的不懈努力，俱乐部已经开始走向正轨。目前俱乐部正在建设温室和雨水采集系统。俱乐部的目标是两年时间建设出一个成熟高效的有机种植系统。</p>
		</div>
	</div>
</div>
<div class="team">
	<div class="container">
		<div class="team-main" > 
			<h3>我们的团队</h3>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="images/1808774085.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="images/team2.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="images/team3.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="images/team4.jpg" alt=""/>
			 </div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--about end here-->