<!DOCTYPE HTML>
<html>
<head>
<link type="text/css" rel=stylesheet href="css/Grid.css">
<link type="text/css" rel=stylesheet href="css/profile.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Organic Planting Club, Waterloo Organic Planting, Organic Planting" />
<!--Google Fonts-->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
</script>
<!-- //end-smoth-scrolling -->
<script src="js/menu_jquery.js"></script>
<body>
<!--header start here-->
<div class="header">
	<div class="container">
		<div class="header-main">
			   <div class="head-left">
				   	<div class="phone">
				   		<p>电话<span class="ph-numb">1 226 339 1589</span></p>
				   	</div>
				     <!--div id="small-dialog" class="mfp-hide">
					<div class="search-top">
							<div class="login">
								<input type="submit" value="">
								<input type="text" value="Search Here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">		
							</div>
						</div>				
					</div-->
	        <!---->
	              <div class="clearfix"> </div>
                </div>
			   <div class="header-right">
				   <div class="logo">
				   	   <h1><a href='/index'>Organic Planting Club</a></h1>
				   </div>
				   <div class="header-login">
					 <div class="col-md-4 ftr-grd">
					  <label class="col-md-4 ftr-grd"> <input type="submit" onclick="location.href='/login'" value="登录"></label>
				   </div>
		      </div>
		    <div class="clearfix"> </div>
	     </div>
	     <div class="clearfix"> </div>
     </div>
   </div>
</div>

<div class="top-navg-main">
	<div class="container">
	    <div class="top-navg">
	    	           <span class="menu"> <img src="images/icon.png" alt=""/></span>
				<ul class="res">
				    <li><a href="index" class="active hvr-sweep-to-bottom">主页</a></li> 
					<li><a class="hvr-sweep-to-bottom" href="about">关于</a></li>  
					<li><a class="hvr-sweep-to-bottom" href="contact">联系</a></li> 
				 </ul>
					<!-- script-for-menu -->
						 <script>
						   $( "span.menu" ).click(function() {
							 $( "ul.res" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
		        <!-- /script-for-menu -->
		   </div>
	 </div>
</div>
<!--banner start here-->
<div class="banner-two">
</div>
<!--banner end here-->
<!--contact start here-->
<div class="contact">
		<div class="container">
			<div class="contact-top">
				<h3>联系我们</h3>
				<p> 如果您对我们的俱乐部有任何的意见或者建议，请用下面的留言板联系我们</p>
			</div>
			<div class="map">
				<h4>我们的地址</h4>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.0169619299295!2d-80.54565988496398!3d43.46024307290537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf41e2206c07b%3A0x119c3440cde71050!2s54+McDougall+Rd%2C+Waterloo%2C+ON+N2L+2W5!5e0!3m2!1sen!2sca!4v1444512886392" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="contact-infom">
				<h4>留言板</h4>
				<p>请留下您的姓名，电子邮件和留言，我们会在最短的时间内给你回复</p>
			</div>	
			<div class="contact-form">
				<form method="post">
					<input type="text" id="contactName" name="contactName" value="姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}" required="">
					<input type="email" id="contactEmail" name="contactEmail" value="电子邮件" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '电子邮件';}" required="">
					<input type="text" id="contactPhone" name="contactPhone" value="电话"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '电话（非必需）';}" >
					<textarea type="text" id="contactMessage" name="contactMessage" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">留言...</textarea>
					<input type="submit" value="提交" >
				</form>
			</div>
			
		</div>
	</div>
<!--contact end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			  <div class="col-md-4 ftr-grd">
			  	 <h3>地址</h3>
			  	 <p>54 McDougall Rd</p>
			  	 <p>Waterloo, Ontario, Canada</p>
			  	 <p>N2L 2W5</P>
			  </div>
			  <div class="col-md-4 ftr-grd">
			  	 <h3>联系我们</h3>
			  	 <ul>
			  	 <p>Phone: +1 226 339 1589</p>
			  	 </ul>
			  </div>
			  <div class="col-md-4 ftr-grd">
			  	 <h3>成为成员</h3>
			  	 <p>请点击下面的按钮，会带您进入注册页面 </p>
			  	<!--label class="hvr-wobble-bottom"> <input type="submit" value="注册"></label-->
				<label class="hvr-wobble-bottom"> <input type="submit" onclick="location.href='/register'" value="注册"></label>
			  </div>
			<div class="clearfix"> </div>
			<div class="copy-right">
			<p>Copyright &copy; 2015.YQY Service, All rights reserved.</p>
		   </div>
		</div>
	</div>
</div>
<!--//footer--> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
        <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/animation.js"></script>
</body>
</html>