<div class="footer">
	<div class="container">
		<div class="footer-main">
			  <div class="col-md-4 ftr-grd">
			  	 <h3>地址</h3>
			  	 <p>54 McDougall Rd</p>
			  	 <p>Waterloo, Ontario, Canada</p>
			  	 <p>N2L 2W5</P>
			  </div>
			  <div class="col-md-4 ftr-grd">
			  	 <h3>联系我们</h3>
			  	 <ul>
			  	 <p>Phone: +1 226 339 1589</p>
			  	 </ul>
			  </div>
			  <div class="col-md-4 ftr-grd">
			  	 <h3>成为成员</h3>
			  	 <p>请点击下面的按钮，会带您进入注册页面 </p>
			  	<!--label class="hvr-wobble-bottom"> <input type="submit" value="注册"></label-->
				<label class="hvr-wobble-bottom"> <input type="submit" onclick="location.href='/register'" value="注册"></label>
			  </div>
			<div class="clearfix"> </div>
			<div class="copy-right">
			<p>Copyright &copy; 2015.YQY Service, All rights reserved.</p>
		   </div>
		</div>
	</div>
</div>
<!--//footer--> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
        <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/animation.js"></script>
</body>
</html>