<% include header2.html %>
<div class = "total">
<header>
  <figure class="profile-banner">
    <img src="images/n.jpg" alt="Profile banner">
  </figure>
  <div class="profile-picture" >
      <img src="images/l2.jpg" alt="Profile img">
  </div>
  <div class="profile-stats">
    <ul>
      <li>32    <span>总任务</span></li>
      <li>1,354 <span>积分</span></li>
      <li>5    <span>进行中</span></li>
      <li>27   <span>历史任务</span></li>
    </ul>
    <a href="javascript:void(0);" class="follow">
        查看个人资料
    </a>
  </div>
  <h1> JerryBrendan <small> 元老</small></h1>
</header>

<section class = "task">
    <div class = "task-title js--title">
        <h2>有机农场平面图</h2>
    </div>
    <i class="ion-arrow-left-a icon"></i>
    <h2 class="north">北</h2>
    <div class ="fields"> 
          <table class="table table-borderless fields-table">
            <tbody>
              <tr>
                <td><button type="button" class="btn btn-success js--wp-field">田地零一</button></td>
                <td><button type="button" class="btn btn-success js--wp-field">田地零二</button></td>
                <td><i class = "ion-minus-round icon2"></i></td>
              </tr>
              <tr>
                <td><button type="button" class="btn btn-success js--wp-field">田地零三</button></td>
                <td><button type="button" class="btn btn-success js--wp-field">田地零四</button></td>
                <td><i class ="ion-arrow-down-c icon2"></i></td>
              </tr>
              <tr>
                <td><button type="button" class="btn btn-success js--wp-field">田地零五</button></td>
                <td><button type="button" class="btn btn-success js--wp-field">田地零六</button></td>
                <td><i class ="ion-arrow-down-c icon2"></i></td>
              </tr>
                <tr>
                <td><button type="button" class="btn btn-success js--wp-field">田地零七</button></td>
                <td><button type="button" class="btn btn-success js--wp-field">田地零八</button></td>
                <td><i class ="ion-arrow-down-c icon2"></i></td>
              </tr>
              <tr>
                <td><button type="button" class="btn btn-success js--wp-field">田地零九</button></td>
                <td><button type="button" class="btn btn-success js--wp-field">田地零十</button></td>
                 <td><p class ="length">总长72m,分成8块</p></td>
              </tr>
              <tr>
                <td><button type="button" class="btn btn-success js--wp-field">田地十一</button></td>
                <td><button type="button" class="btn btn-success js--wp-field">田地十二</button></td>
                <td><i class ="ion-arrow-up-c icon2"></i></td>
              </tr>
              <tr>
                <td><button type="button" class="btn btn-success js--wp-field">田地十三</button></td>
                <td><button type="button" class="btn btn-success js--wp-field">田地十四</button></td>
                <td><i class ="ion-arrow-up-c icon2"></i></td>
              </tr>
              <tr>
                <td><button type="button" class="btn btn-success js--wp-field">田地十五</button></td>
                <td><button type="button" class="btn btn-success js--wp-field">田地十六</button></td>
                <td><i class = "ion-minus-round icon2"></i></td>
              </tr>
            </tbody>
          </table>
        <div class ="width">
            <i class ="ion-arrow-right-c icon3"></i>
            <h4 class="w">宽18m，分成两块</h4>
            <i class ="ion-arrow-left-c icon3"></i>
        </div>
    </div>        
</section>  
</div>


<% include footer.html %>