<% include header2.html %>
<div class = "total">    
<header>
  <figure class="profile-banner">
    <img src="images/n.jpg" alt="Profile banner">
  </figure>
  <div class="profile-picture" >
      <img src="images/l2.jpg" alt="Profile img">
  </div>
  <div class="profile-stats">
    <ul>
      <li>32    <span>总任务</span></li>
      <li>1,354 <span>积分</span></li>
      <li>5    <span>进行中</span></li>
      <li>27   <span>历史任务</span></li>
    </ul>
    <a href="javascript:void(0);" class="follow">
        领取新任务
    </a>
  </div>
  <h1> JerryBrendan <small> 元老</small></h1>
</header>
    
<section class = "task">  
    <div class = "task-title js--title">
        <h2>过往任务列表</h2>
    </div>
    <div class="container">
        <div class="tasks-display scroll1 js--tasks">
            <div class="list-group">
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading ">锄草</h4>
                </a>
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading">浇水</h4>
                </a>
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading">种树</h4>

                </a>
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading">吃水果</h4>
                </a>
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading">栽花</h4>
                </a>
                <a href="#" class="list-group-item btn-full2 ">
                    <h4 class="list-group-item-heading ">锄草</h4>
                </a>
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading">浇水</h4>
                </a>
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading">种树</h4>

                </a>
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading">吃水果</h4>
                </a>
                <a href="#" class="list-group-item btn-full2">
                    <h4 class="list-group-item-heading">栽花</h4>
                </a>
                
            </div>
        </div> 

        <div class="panel-info js--wp1">
           <div class="panel panel-primary">
              <div class="panel-heading">标题</div>
              <div class="panel-body">任务的标题</div>
            </div>
          <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">奖励分数</div>
                <div class="panel-body">完成后获得的积分</div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">完成时间</div>
               <div class="panel-body">完成的时间</div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">任务详情</div>
               <div class="panel-body">简单的描述下任务的内容</div>
            </div>  
          </div>
        </div>
    </div>
    <div class= "task-bottom-section">
            <a class="btn btn-full linka ftr-grd js--task-button1" href="#">上一页</a>
            <a class="btn btn-full linkb ftr-grd js--task-button2" href="#">下一页</a>
            <p class="task-accept-message">查看更多过往任务</p>
     </div>
</section>  
</div>


<% include footer.html %>